<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
      
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="http://localhost:3000/js/client.js"></script>
    </head>
    <body>
        <% for(let i=0; i < result.length;i++){ %>
        <table border="1" width="650"> 
        <tr><td id="aa"><%=result[i].b_time%></a></td>
            <td><%=result[i].b_time%></td>
            
        <% } %>
        
        </tr>    
        </table>
    </body>
</html>