<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src='./js/client.js'></script>
    <title>Document</title>
</head>
<body>
    
        <table border="3" width="650"> 
            <tr><th>시간</th></tr>
            
         
        </table>
        <button id="bus_time">시간 선택</button> 
            <table border="1" width="650"> 
                <% for(let i=0; i < result.length;i++){ %>
                    <tr><td> <%=result[i]['b_time']%> </td></tr>
                    <% } %>           
         
            
            </tr>    
            </table>

        <br>
        <br>
        <table border="2" width="650">
           
        </table>


    
    <table border="3" width="650"> 
        <tr><th colspan="4">좌석</th></tr>
         
     
        
        
     
    </table>
    <table border="1" width="650"> 
        <% for(let i=0; i < result.length;i++){ %>
            <tr><td> <%=result[i]['b_position]%> </td></tr>
            <% } %>          
    <button id="bus_position">예매</button> 
    <br>
    <br>
    <table border="2" width="650">
       
    </table>
</body>
</html>