/* 공통------------------------------------------------------------------------------------ */
html{
  height: 100vh;
  /*  파이어폭스 scrollber */
  scrollbar-width: thin;
  scrollbar-color: rgba(85, 85, 85, 0.3) transparent;
}

/*  웹킷(크롬, 사파리) scrollber */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track-piece {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(101, 190, 230, 0.3);
}
body {
  max-width: 1920px;
  height: 100%;
  font-family: 'Noto Sans KR', sans-serif;
}
*{/* 모든 마크업 태그 */
  margin: 0; /* 바깥 여백 */
  line-height: 100%;/* 줄 간격 */
  padding: 0;/* 안쪽 여백 */
}
ul{/*마크업 테그(css버전)*/
  list-style: none;/* 점표시 삭제 */
  margin: 0 auto;
  overflow-y: scroll;
  scrollbar-width: none;
}
p{
  margin: 0 auto;
}
a{
  text-decoration: none; /*  링크 버튼 밑에 밑줄 삭제 */
  color: #000;
}
b{
  font-weight: normal;
}


/* 상단 버튼 관련------------------------------------------------------------------------------------ */
header{
  width: 100%;
  height: 50px;
  position: relative;
  text-align: center;
  padding: 10px;
  background-color: #aaa;
}
.logo{
  font-size: 30px;
  margin: 0 auto;
  text-transform: uppercase;
  line-height: 100%;
  font-family: 'Squada One', cursive;
  color: #fff;
}
.headerBtns{
  position: absolute;
  right: 13px;
  top: 13px;
}
.headerBtns button{
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  text-indent: -9999%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: contain;
}
.headerBtns #search{
  background-image: url(../img/search.png);
  margin-right: 10px;
}
.headerBtns #logout{
  background-image: url(../img/logout.png);
}


/* 페이지 공통-------------------------------------- */
#container{
  width: 100%;
  margin: 0 auto;
  height: calc(100% - 50px);
}
article{
  box-sizing: border-box;
  padding: 0 !important;
  height: 100%;
}
h3{
  text-align: center;
  font-size: 16px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  position: relative;
  display: block;
  height: 40px;
  margin: 0 auto;
}
h3.now::after{
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #ccc;
  z-index: 2;
  transform-origin: center;
  animation: titleani 1s ease-out;
}
@keyframes titleani{
  from{
    transform: scaleX(0);
  }
  to{
    transform: scaleX(1);
  }
}
.content{
  height: calc(100% - 80px);
  padding: 20px;
  box-sizing: border-box;
  overflow-y: scroll;
  scrollbar-width: thin;
  width: 100%;
  margin-left: 0;
}
.show{
  animation: show 1s both !important;
}
@keyframes show{
  from{
    opacity: 0;
  }
  to{
    opacity: 1 !important;
  }
}
.hide{
  opacity: 0;
}
.mobilehide::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.1);
}

/* page1-------------------------------------- */
#page1::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  background-color: #ccc;
  z-index: -1;
}
.day, .time{
  text-align: center;
  margin-top: 20px;
  position: relative;
  width: 100%;
}
.day h4, .time h4{
  margin: 0 auto;
  font-size: 12px;
  display: inline-block;
  width: 70px;
  height: 70px;
  background-color: #ddd;
  border-radius: 50%;
  padding: 26px 5px;
  border: 2px solid #777;
}
.day input, .time input, #peopleselect li input{
  display: block;
  margin: 0 auto;
  border: 1px inset #e3e3e3;
  width: 100%;
  height: 36px;
  border-radius: 5px;
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  cursor: pointer;
}
/* 날짜 목록 */
#daylist{
  position: absolute;
  display: none;
  width: 100%;
  height: 150px;
  background-color: #fff;
  z-index: 2;
  box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.1);
  overflow-y: scroll;
}
#daylist li{
  display: block;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding: 18px;
  font-size: 14px;
}
#daylist li:nth-last-child(1){
  border-bottom: none;
}
#daylist li.select{
  background-color: #555;
  color: #fff;
  padding: 15px;
  font-size: 20px;
}
/* 시간 목록 */
#timelist{
  position: absolute;
  display: none;
  width: 100%;
  height: 80px;
  background-color: #fff;
  z-index: 2;
  box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.1);
}
#timelist::after{
  content: ":";
  position: absolute;
  font-size: 36px;
  top: 30px;
}
#timelist li{
  width: 49%;
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
}
#timelist #hour{
  float: left;
  text-align: right;
}
#timelist #minute{
  float: right;
  text-align: left;
}
/* 날짜, 시간 목록 보일 때 쓰는 클래스 */
.daytimeshow{
  display: block !important;
}


/* page2-------------------------------------- */
/* page2 왼쪽 */
#peopleselect{
  height: 80%;
}
#peopleselect li{
  margin-bottom: 20px;
}
#peopleselect li label{
  font-size: 12px;
}
#peopleselect li input{
  margin-top: 5px;
  text-align: right;
}
/* page2 오른쪽 */
#seatlist{
  margin: 0 auto;
  display: table;
  height: 100%;
  border-collapse: initial;
}
#seatlist tbody{
    display: table;
    width: 80%;
    height: 90%;
    margin: 0 auto;
    margin-top:5%;
    margin-bottom:5%;
}
#seatlist tbody tr{
  border: none;
}
#seatlist tbody tr th{
  border-top: 2px solid #fff;
}
#seatlist tbody tr td{   
  cursor: pointer;
  border: 2px solid #e6e6e6;
  font-size: 12px;
  color: #777;
  box-sizing: border-box;
  position: relative;
  text-align: center;
  border-radius: 10px;
}
.seatselect{
    color: #8c2828 !important;
    font-weight: bold;
}
.seatselect::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 75, 75, 0.2);
    border: 2px solid #df3b5a !important;
}
.disable{
    color:#000000 !important;
    background-color: #b3b3b3 !important;
    font-weight: bold;
}


/* page3-------------------------------------- */
/* 첫 번째 표(날짜, 시간, 인원) */
#checking{
  width: 100%;
  border: 1px solid #aaa;
  box-sizing: border-box;
}
#checking th{
  width: 100px;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  padding: 10px;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  background-color: #eaeaea;
}
#checking td{
  width: calc(100% - 100px);
  border-bottom: 1px solid #aaa;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}
/* 두 번째 표(선택 좌석) */
#seat{
  width: 100%;
  margin-top: 20px;
}
#seat thead{
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}
#seat thead th{
  font-weight: normal;
  text-align: center;
  padding: 10px;
  background-color: #eaeaea;
  font-size: 12px
}
#seat thead th:nth-of-type(1){
  width: 80px;
}
#seat thead th:nth-of-type(2){
  width: 30%;
}
#seat tbody tr{
  border-bottom: 1px solid #aaa;
}
#seat tbody td, #price td{
  font-weight: bold;
  text-align: center;
  padding: 10px;
  font-size: 14px
}
/* 세 번째 표(최종 결제 금액) */
#price{
  width: 100%;
  border: 1px solid #aaa;
  box-sizing: border-box;
  margin-top: 20px;
}
#price th{
  height: 30px;
  width: 100px;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  padding: 10px;
  border-right: 1px solid #aaa;
  background-color: #eaeaea;
}
/* 결제 주의 사항 */
#warning{
  margin-top: 20px;
  text-align: left;
  font-size: 12px;
  margin-bottom: 50px;
}
#warning p{
  line-height: 1.5;
  margin-bottom: 10px;
  color: #aaa;
}
#warning>input{
    margin-right: 15px;
    display: inline;
  vertical-align: sub;
}
#warning p:nth-last-of-type(1){
   display: inline;
  font-weight: bold;
   color: #777;
}


/* 하단 버튼 관련------------------------------------------------------------------------------------ */
#bttnArea{
    width: 100%;
    height: 40px;
    font-size: 14px;
}
#bttnArea button{
  border: none;
  border-radius: 5px;
  color: #fff;
  text-align: center;
}
#bttnArea .prev_buttn{
    height :100%;
    width: 30%;
    float: left;
    background-color: #aaa;
}
#bttnArea .next_button{
  height :100%; 
  width: 70%; 
  float: right;
  background-color: #f0a04b;
}
#page1 #bttnArea .next_button{
  width: 100% !important;
}